.form {
    display: flex;
    flex-direction: column;
  
    @include md() {
      margin-top: 20px;
    }
  
    &__field {
      display: flex;
      flex-direction: column;
  
      &:first-of-type {
        margin-bottom: 42px;
      }
    }
  
    &__label {
      font-weight: bold;
      text-transform: uppercase;
      color: $primaryColor;
      line-height: 0.9rem;
      letter-spacing: 3px;
      font-size: 0.6875rem;
    }
  
    &__input {
      border: none;
      border-bottom: 1px solid $colorGray;
      background-color: transparent;
      line-height: 2.625rem;
    }
  
    &__consent {
      margin-top: 30px;
    }
  
    &__checkbox {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 1.375rem;
  
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
  
        &:checked {
          ~ .checkbox {
            background-image: url(../../assets/iconmonstr-check-mark-lined.svg);
            background-position: center;
            background-size: 50%;
            background-repeat: no-repeat;
            color: #fff;
          }
        }
      }
  
      .checkbox {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #fff;
        border: 1px solid $colorGray;
        border-radius: 4px;
      }
  
      .consent__text {
        margin: 0 10px;
        font-size: 0.75rem;
        color: $primaryColor;
        line-height: 17px;
      }
    }
  
    .btn {
      font-size: 0.8125rem;
      padding: 20px 97px;
      align-self: flex-end;
      margin-top: 20px;
    }
  }
  .contact {
    padding: 80px 100px 100px;
    display: flex;
    justify-content: center;
  
    @include md() {
      flex-direction: column;
      align-items: center;
      padding: 50px 15px;
    }
  
    &__column {
      width: 50%;
  
      @include  md() {
        width: 100%;
      }
    }
  
    &__title {
      font-size: 3.0625rem;
      line-height: 3.6875rem;
    }
  
    &__instruction {
      margin: 22px 0 42px;
      font-size: 1rem;
      line-height: 1.375rem;
  
      @include md() {
        margin: 5px 0 35px;
      }
    }
  
    &__details {
      display: flex;
      justify-content: flex-start;
      color: $primaryColor;
      align-items: center;
  
      @include md() {
        flex-direction: column;
        align-items: flex-start;
      }
  
      .details__item {
        color: $secondaryColor;
        font-weight: 500;
        text-decoration: none;
  
        @include md() {
          margin-bottom: 10px;
        }
  
        &:first-of-type {
          margin-right: 20px;
        }
  
        img {
          margin-right: 10px;
        }
      }
    }
  }