/**
 * Color variables
 */
$pageBackground: #15202b;
$textcolor: #fff;
$primaryColor: #00ba7c;
$secondaryColor: #0c5c4c;
$primaryShadowColor: rgba(7, 172, 230, 0.16);
$colorGray: #a5a5a5;
$colorLightGray: #f7f7f7;
$colorWhite: #ffffff;
/**
 * Grid variables
 */
$containerWidth: 1352px;
$columns: 12;
$gutter: 15px;

/**
  * Design variables
  */
$borderRadius: 0.3125rem;
$btnRadius: 35px;

/**
 * Font variables
  */
$fontRaleway: "Raleway", sans-serif;
$fontOpenSans: "Open-Sans", sans-serif;
